<section class="home container">
  <div class="form-group mb-5 mt-5 home__filter-container">
    <iconify-icon icon="mdi:movie-search" class="icon"></iconify-icon>
    <label for="genre">Filter by your favorite genre</label>
    <select class="form-select form-select-sm" id="filter" name="filter">
      <option value="" {{#if (equal genre "")}}selected{{/if}} >All Genres</option>
      <option value="Action" {{#if (equal genre "Action")}}selected{{/if}}>Action</option>
      <option value="Horror" {{#if (equal genre "Horror")}}selected{{/if}}>Horror</option>
      <option value="Comedy" {{#if (equal genre "Comedy")}}selected{{/if}}>Comedy</option>
      <option value="Thriller" {{#if (equal genre "Thriller")}}selected{{/if}}>Thriller</option> 
      <option
        value="Documentary"
        {{#if (equal genre "Documentary")}}selected{{/if}}
      >Documentary</option>
    </select>
  </div>
  {{#unless movies}}
    <iconify-icon icon="tabler:movie-off" class="main__logo"></iconify-icon>
    <h2 class="main__title">There are no movies to display</h2>
    <a href="/movies/add-movie" class="btn btn-danger">Add movies</a>
  {{/unless}}
    <div class="home__movies-container">
      {{#each movies}}
          <div class="main__card card {{#unless this.status}}Inactive{{/unless}}">
            <div class="main__card__header card-header">
              <iconify-icon
                class="icon"
                icon="{{#unless this.status}}mdi:movie-settings{{else}}fluent:movies-and-tv-16-filled{{/unless}}"
              ></iconify-icon>
              <h5>{{this.name}}</h5>
            </div>
            <div class="main__card__body card-body home__movie-container">
              <p class="card-text"><span>Description:</span> {{this.description}}</p>
              <p class="card-text"><span>Status:</span> {{#if this.status}}Active{{else}}Inactive{{/if}}</p>
              <p class="card-text"><span>Genre:</span> {{this.genre}}</p>
              <a href="/movies/edit-movie/{{this.id}}" class="btn btn-warning">Edit</a>
              <form action="/movies/delete-movie/{{this.id}}" method="POST" class="delete-form">
                <input name="_csrf" value="{{../csrfToken}}" type="hidden" />
                <input type="hidden" name="ID" value="{{this.id}}" />
                <button class="btn btn-danger btn-delete">Delete</button>
              </form>
            </div>
          </div>   
        {{/each}}
    </div>
</section>