<section>
    <div class="main__card card">
    <div class="main__card__header card-header">
      <iconify-icon class="icon" icon={{icon}}></iconify-icon>
      <h5>{{cardTitle}}</h5>
    </div>
    <div class="main__card__body card-body">
      <form
        method="POST"
        action="/movies/{{#if edit}}edit-movie{{else}}add-movie{{/if}}"
        class="main__card__body__form default-form"
      >
        <input name="_csrf" value="{{csrfToken}}" type="hidden" />
        <div class="form-group mb-2">
          <label for="name">Movie Name:</label>
          <input
            class="form-control form-control-sm required-field"
            type="text"
            id="name"
            name="name"
            autofocus
            {{#if edit}}value="{{movie.name}}"{{/if}}
          />
        </div>
        <div class="form-group mb-2">
          <label for="description">Movie Description:</label>
          <textarea
            class="form-control form-control-sm required-field"
            rows="3"
            id="description"
            name="description"
          >{{#if edit}}{{movie.description}}{{/if}}</textarea>
        </div>
        <div class="form-group mb-2 {{#unless edit}}d-none{{/unless}}">
          <label for="status">Movie Status</label>
          <select
            class="form-select form-select-sm required-field"
            id="status"
            name="status"
          >
            <option 
              value="1" 
              {{#if movie.status}}selected{{/if}}
            >Active</option>
            <option 
              value="0"
              {{#unless movie.status}}selected{{/unless}}
            >Inactive</option>
          </select>
        </div>
        <div class="form-group mb-2">
          <label for="genre">Movie Genre</label>
          <select class="form-select form-select-sm required-field" id="genre" name="genre">
            <option 
            value=""
            >Select Movie Genre</option>
            <option 
              value="Action"
              {{#if (equal movie.genre "Action")}}selected{{/if}}
            >Action</option>
            <option 
              value="Horror"
              {{#if (equal movie.genre "Horror")}}selected{{/if}}
            >Horror</option>
            <option 
              value="Comedy"
              {{#if (equal movie.genre "Comedy")}}selected{{/if}}
            >Comedy</option>
            <option 
              value="Thriller"
              {{#if (equal movie.genre "Thriller")}}selected{{/if}}
            >Thriller</option>
            <option 
              value="Documentary"
              {{#if (equal movie.genre "Documentary")}}selected{{/if}}
            >Documentary </option>
          </select>
        </div>
        {{#if edit}}<input
            type="hidden"
            name="ID"
            value="{{movie.id}}"
          />{{/if}}
        <div class="main__card__body__form__buttons">
          <button type="button" class="btn btn-warning btn-sm" id="btn-clear">
            Clear
          </button>
          <button type="button" class="btn btn-danger btn-sm" id="btn-submit">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</section>